doctype html
html
  head
    title Fusion Day
  body
    h1 Fusion Day
    p #{message}
    h2 Weather
    p #{weather || "Sorry, we're having trouble finding your weather."}
    h2 Map
    if map
      img(src=map)
    else
      p Map service is unreachable.
    h2 Animal
    if animal
      img(src=animal)
    else
      p Cute animal service is unreachable.
