doctype html
html
  head
    title Fusion Day
  body
    h1 Fusion Day
    p #{message}
    h2 Weather
    p #{weather || "Sorry, we're having trouble finding your weather"}
    h2 Map
    img(src=map)
    h2 Kitten picture
    img(src=kitten)
